/* HeroesComponent's private CSS styles */
.heroes {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  .heroes a{
    color: ghostwhite;
  }
  .heroes li {
    cursor: pointer;
    position: relative;
    left: 0;
    color: #ffffff;
    background-color: rgb(76, 9, 82);
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
  .heroes li:hover {
    color: #ffffff;
    background-color: rgb(123, 36, 158);
    left: .1em;
  }
  .heroes li.selected {
    background-color: #8502d1;
    color: rgb(255, 255, 255);
  }
  .heroes li.selected:hover {
    background-color: #ca01fc;
    color: rgb(255, 255, 255);
  }
  .heroes .badge {
    display: inline-block;
    font-size: small;
    color: rgb(0, 0, 0);
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#b203e7;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
  .heroes .delete {
background-color: rgb(102, 3, 141);
color: rgb(255, 255, 255);
float: right;
border: none;
  }